@media only screen and (max-width: 1400px) {
    #opening {
        padding: 20px 40px;
    }

    #sales {
        margin: 0 40px;
    }

    #category {
        margin: 0 40px;
    }

    #best {
        padding: 40px 40px;
    }

    #enhance {
        margin: 0 40px;
    }

    #explore {
        padding: 40px 40px;
    }

    #new {
        padding: 40px 40px;
    }

    #about {
        padding: 100px 50px;
    }

    footer {
        padding: 100px 40px;
    }
}

@media only screen and (max-width: 1200px) {
    nav {
        padding: 0 50px;
    }

    #opening {
        .slider {
            padding-left: 20px;
        }
    }

    .carousel-item {
        min-width: 700px !important;
        min-height: 430px !important;
    }

    .carousel-image {
        min-width: 700px !important;
        min-height: 430px !important;
    }

    .carousel-container {
        min-width: 700px !important;
        min-height: 430px !important;
    }

    #new {
        .images {
            flex-direction: column;
            align-items: center;

            .imagesright {
                .imagetop {
                    width: 853px;
                    height: 408px;
                }

                .imagesbottom {
                    .imageright {
                        width: 416px;
                    }

                    .imageleft {
                        width: 416px;
                    }
                }
            }
        }
    }

    #about {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    footer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media only screen and (max-width: 920px) {
    .carousel-item {
        min-width: 500px !important;
        min-height: 430px !important;
    }

    .carousel-image {
        min-width: 500px !important;
        min-height: 430px !important;
    }

    .carousel-container {
        min-width: 500px !important;
        min-height: 350px !important;
    }

    .slick-slide {
        div {
            img {
                height: 150px;
            }
        }
    }

    #enhance {
        img {
            height: 482px;
            right: -15px;
            top: 112px;
        }
    }

    #new {
        .images {
            flex-direction: column;
            align-items: center;

            .image {
                width: 643px;
                height: 500px;
            }

            .imagesright {
                display: flex;
                align-items: center;
                flex-direction: column;

                .imagetop {
                    width: 643px;
                    height: 320px;
                }

                .imagesbottom {
                    .imageright {
                        width: 317px;
                    }

                    .imageleft {
                        width: 317px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 820px) {
    nav {
        .menu {
            display: none;
        }

        .cart {
            .fa-bars {
                display: flex;
            }
        }
    }

    #best {
        .products {
            flex-wrap: wrap;
        }
    }

    #opening {
        flex-direction: column;

        .menu {
            border: none;
        }

        .slider {
            padding-left: 0;
        }
    }

    #enhance {
        h1 {
            font-size: 40px;
            max-width: 350px;
        }

        img {
            height: 378px;
            right: -15px;
            top: 157px;
        }
    }

    #category {
        .catBox {
            flex-wrap: wrap;
        }
    }

    #new {
        .images {
            flex-direction: column;
            align-items: center;

            .image {
                width: 503px;
                height: 380px;
            }

            .imagesright {
                display: flex;
                align-items: center;
                flex-direction: column;

                .imagetop {
                    width: 503px;
                    height: 250px;
                }

                .imagesbottom {
                    display: flex;
                    flex-direction: column;

                    .imageright {
                        width: 503px;
                        height: 250px;
                    }

                    .imageleft {
                        width: 503px;
                        height: 250px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    nav {
        padding: 0 20px;
        .cart {
            input {
                display: none;
            }
        }
    }

    #category {
        .catBox {
            justify-content: center;
        }
    }

    #explore {
        .products {
            justify-content: center;
        }
    }

    #enhance {
        display: none;
    }

    #opening {
        padding: 20px 20px;
    }

    .carousel-item {
        min-width: 300px !important;
        min-height: 250px !important;
    }

    .carousel-image {
        min-width: 300px !important;
        min-height: 250px !important;
    }

    .carousel-container {
        min-width: 300px !important;
        min-height: 250px !important;
    }

    .slick-slide {
        div {
            img {
                height: 150px;
            }
        }
    }

    #sales {
        display: none;
    }

    #new {
        .images {
            flex-direction: column;
            align-items: center;

            .image {
                width: 300px;
                height: 240px;
            }

            .imagesright {
                display: flex;
                align-items: center;
                flex-direction: column;

                .imagetop {
                    width: 300px;
                    height: 180px;
                    padding-left: 10px;
                    .about {
                        width: 280px;
                    }
                }

                .imagesbottom {
                    .imageright {
                        width: 300px;
                    }

                    .imageleft {
                        width: 300px;
                    }
                }
            }
        }
    }
}