#details {
    padding: 40px 300px;
    .details {
        display: flex;
        flex-direction: row;
        gap: 30px;
        img {
            height: 500px;
        }
        .productDetails {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .addCart {
                background-color: black;
                cursor: pointer;
                font-size: 20px;
                height: 40px;
                width: 150px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                border: 2px solid black;
                border-radius: 3px;
                font-weight: bold;
                transition: 300ms;
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
        
    }
    
}